In [959]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score
from sklearn import metrics
from sklearn.metrics import mean_squared_error
import pickle

In [960]:
def parse_data(dataset):
    for column in dataset.columns:
        if dataset[column].dtype == type(object):
            le = LabelEncoder()
            dataset[column] = le.fit_transform(dataset[column].astype("str"))
    return dataset

def parse_test_data(dataset):
    for column in dataset.columns:
        if dataset[column].dtype == type(object):
            le = LabelEncoder()
            dataset[column] = le.fit_transform(dataset[column].astype("str"))
            
    return dataset

In [961]:
#tpref = pd.read_csv("/home/olo/Desktop/DSN Bootcamp/Loan Default/trainperf.csv")
#tdemo = pd.read_csv("/home/olo/Desktop/DSN Bootcamp/Loan Default/traindemographics.csv")
#tprevloans = pd.read_csv("/home/olo/Desktop/DSN Bootcamp/Loan Default/trainprevloans.csv")

#testpref = pd.read_csv("/home/olo/Desktop/DSN Bootcamp/Loan Default/testperf.csv")
#testdemo = pd.read_csv("/home/olo/Desktop/DSN Bootcamp/Loan Default/testdemographics.csv")
#testprevloans = pd.read_csv("/home/olo/Desktop/DSN Bootcamp/Loan Default/testprevloans.csv")

train = pd.read_csv("/home/olo/Desktop/DSN Bootcamp/Loan Default/Train/joint_data_set.csv")
test = pd.read_csv("/home/olo/Desktop/DSN Bootcamp/Loan Default/Test/joint_data_set.csv")

In [962]:
test.head()

,Unnamed: 0,customerid_x,birthdate,bank_account_type,Customer Long Address,Customer Short Address,longitude_gps,latitude_gps,bank_name_clients,bank_branch_clients,employment_status_clients,level_of_education_clients,customerid_y,systemloanid_x,loannumber_x,approveddate_x,creationdate_x,loanamount_x,totaldue_x,closeddate,referredby_x,firstduedate,firstrepaiddate,customerid,systemloanid_y,loannumber_y,approveddate_y,creationdate_y,loanamount_y,totaldue_y,termdays,referredby_y
0,0,8a858f305c8dd672015c93b1db645db4,1976-08-28 00:00:00.000000,Savings,"Road 7, Campus Main Road, Ado Ekiti, Nigeria",Ado Ekiti,5.296628,7.593965,Heritage Bank,NaN,Permanent,NaN,8a858899538ddb8e015390510b321f08,301621635,3,2016-05-17 10:37:00.000000,2016-05-17 09:36:55.000000,10000.0,13000.0,2016-06-17 00:04:15.000000,NaN,2016-06-16 00:00:00.000000,2016-06-16 15:44:08.000000,8a858899538ddb8e015390510b321f08,301998974,4,40:48.0,39:35.0,10000,12250.0,30,NaN
1,1,8a858f085a477386015a47fb049e49ca,1978-06-23 00:00:00.000000,Savings,"Off Akoronjo Road, Egbeda, 30 Ogunlana St, Lag...",Lagos,3.294513,6.596602,UBA,NaN,Permanent,NaN,8a858959537a097401537a4e316e25f7,301810201,5,2017-02-04 21:28:59.000000,2017-02-04 20:28:52.000000,30000.0,36800.0,2017-03-02 16:22:58.000000,NaN,2017-03-06 00:00:00.000000,2017-03-02 16:07:47.000000,8a858959537a097401537a4e316e25f7,301963615,10,43:40.0,42:34.0,40000,44000.0,30,NaN
2,2,8a858e6f5cd5e874015cd6f5634c39ad,1984-04-04 00:00:00.000000,Savings,"Unnamed Road, Township, Makurdi, Nigeria",Makurdi,8.501912,7.729364,First Bank,NaN,Permanent,NaN,8a858959537a097401537a4e316e25f7,301831255,6,2017-03-04 10:28:22.000000,2017-03-04 09:28:16.000000,30000.0,34400.0,2017-04-02 00:44:24.000000,NaN,2017-04-03 00:00:00.000000,2017-04-01 21:29:46.000000,8a8589c253ace09b0153af6ba58f1f31,301982236,6,15:11.0,15:04.0,20000,24500.0,30,NaN
3,3,8a858e9d5bfd7037015bfdab79f61305,1983-05-28 00:00:00.000000,Savings,"12 Adebola Oke Street, Ifako-Ijaiye, Lagos, Ni...",Lagos,3.318904,6.681595,UBA,NaN,Permanent,NaN,8a8589c253ace09b0153af6ba58f1f31,301627292,3,2016-06-02 14:27:14.000000,2016-06-02 13:27:08.000000,10000.0,13000.0,2016-07-04 11:34:04.000000,NaN,2016-07-04 00:00:00.000000,2016-07-04 11:19:01.000000,8a858e095aae82b7015aae86ca1e030b,301971730,8,00:54.0,00:49.0,30000,34500.0,30,NaN
4,4,8a858fde56eb02280156eb6dafc128ac,1982-03-29 00:00:00.000000,Savings,NaN,NaN,6.354624,4.949031,First Bank,NaN,Self-Employed,NaN,8a8589c253ace09b0153af6ba58f1f31,301621095,2,2016-05-16 09:13:12.000000,2016-05-16 08:13:04.000000,10000.0,11500.0,2016-06-02 00:02:58.000000,NaN,2016-05-31 00:00:00.000000,2016-06-01 15:22:34.000000,8a858e225a28c713015a30db5c48383d,301959177,4,04:33.0,04:27.0,20000,24500.0,30,NaN

In [963]:
train.head()

,Unnamed: 0,customerid_x,birthdate,bank_account_type,Customer Long Address,Customer Short Address,longitude_gps,latitude_gps,bank_name_clients,bank_branch_clients,employment_status_clients,level_of_education_clients,customerid_y,systemloanid_x,loannumber_x,approveddate_x,creationdate_x,loanamount_x,totaldue_x,closeddate,referredby_x,firstduedate,firstrepaiddate,customerid,systemloanid_y,loannumber_y,approveddate_y,creationdate_y,loanamount_y,totaldue_y,termdays,referredby_y,good_bad_flag
0,0,8a858e135cb22031015cbafc76964ebd,1973-10-10 00:00:00.000000,Savings,"126 Mushin Rd, Oshodi-Isolo, Lagos, Nigeria",Lagos,3.319219,6.528604,GT Bank,NaN,NaN,NaN,8a2a81a74ce8c05d014cfb32a0da1049,301682320,2,2016-08-15 18:22:40.000000,2016-08-15 17:22:32.000000,10000.0,13000.0,2016-09-01 16:06:48.000000,NaN,2016-09-14 00:00:00.000000,2016-09-01 15:51:43.000000,8a2a81a74ce8c05d014cfb32a0da1049,301994762,12,2017-07-25 08:22:56.000000,2017-07-25 07:22:47.000000,30000.0,34500.0,30,NaN,Good
1,1,8a858e275c7ea5ec015c82482d7c3996,1986-01-21 00:00:00.000000,Savings,"Unnamed Road, Abeokuta, Nigeria",Abeokuta,3.325598,7.119403,Sterling Bank,NaN,Permanent,NaN,8a2a81a74ce8c05d014cfb32a0da1049,301883808,9,2017-04-28 18:39:07.000000,2017-04-28 17:38:53.000000,10000.0,13000.0,2017-05-28 14:44:49.000000,NaN,2017-05-30 00:00:00.000000,2017-05-26 00:00:00.000000,8a85886e54beabf90154c0a29ae757c0,301965204,2,2017-07-05 17:04:41.000000,2017-07-05 16:04:18.000000,15000.0,17250.0,30,NaN,Good
2,2,8a858e5b5bd99460015bdc95cd485634,1987-04-01 00:00:00.000000,Savings,"18 Hospital Road, Tori, Warri, Nigeria",Warri,5.746100,5.563174,Fidelity Bank,NaN,NaN,NaN,8a2a81a74ce8c05d014cfb32a0da1049,301831714,8,2017-03-05 10:56:25.000000,2017-03-05 09:56:19.000000,20000.0,23800.0,2017-04-26 22:18:56.000000,NaN,2017-04-04 00:00:00.000000,2017-04-26 22:03:47.000000,8a8588f35438fe12015444567666018e,301966580,7,2017-07-06 14:52:57.000000,2017-07-06 13:52:51.000000,20000.0,22250.0,15,NaN,Good
3,3,8a858efd5ca70688015cabd1f1e94b55,1991-07-19 00:00:00.000000,Savings,"10 Akinsanya St, Ojodu, Nigeria",Ojodu,3.362850,6.642485,GT Bank,NaN,Permanent,NaN,8a8588f35438fe12015444567666018e,301861541,5,2017-04-09 18:25:55.000000,2017-04-09 17:25:42.000000,10000.0,11500.0,2017-04-24 01:35:52.000000,NaN,2017-04-24 00:00:00.000000,2017-04-24 00:48:43.000000,8a85890754145ace015429211b513e16,301999343,3,2017-07-27 19:00:41.000000,2017-07-27 18:00:35.000000,10000.0,11500.0,15,NaN,Good
4,4,8a858e785acd3412015acd48f4920d04,1982-11-22 00:00:00.000000,Savings,"Dr. Ado Bayero Road, Kano, Nigeria",Kano,8.455332,11.971410,GT Bank,NaN,Permanent,NaN,8a85890754145ace015429211b513e16,301941754,2,2017-06-17 09:29:57.000000,2017-06-17 08:29:50.000000,10000.0,11500.0,2017-07-14 21:18:43.000000,NaN,2017-07-03 00:00:00.000000,2017-07-14 21:08:35.000000,8a858970548359cc0154883481981866,301962360,9,2017-07-03 23:42:45.000000,2017-07-03 22:42:39.000000,40000.0,44000.0,30,NaN,Good

In [964]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4346 entries, 0 to 4345
Data columns (total 33 columns):
Unnamed: 0                    4346 non-null int64
customerid_x                  4346 non-null object
birthdate                     4346 non-null object
bank_account_type             4346 non-null object
Customer Long Address         3926 non-null object
Customer Short Address        3926 non-null object
longitude_gps                 4346 non-null float64
latitude_gps                  4346 non-null float64
bank_name_clients             4346 non-null object
bank_branch_clients           51 non-null object
employment_status_clients     3698 non-null object
level_of_education_clients    587 non-null object
customerid_y                  4346 non-null object
systemloanid_x                4346 non-null int64
loannumber_x                  4346 non-null int64
approveddate_x                4346 non-null object
creationdate_x                4346 non-null object
loanamount_x                  4346 non-null float64
totaldue_x                    4346 non-null float64
closeddate                    4346 non-null object
referredby_x                  267 non-null object
firstduedate                  4346 non-null object
firstrepaiddate               4346 non-null object
customerid                    4346 non-null object
systemloanid_y                4346 non-null int64
loannumber_y                  4346 non-null int64
approveddate_y                4346 non-null object
creationdate_y                4346 non-null object
loanamount_y                  4346 non-null float64
totaldue_y                    4346 non-null float64
termdays                      4346 non-null int64
referredby_y                  584 non-null object
good_bad_flag                 4346 non-null object
dtypes: float64(6), int64(6), object(21)
memory usage: 1.1+ MB

In [965]:
#tmerge = pd.merge(tdemo, tprevloans, on='customerid')
#train = pd.merge(tmerge, tpref, on='customerid')
train = parse_data(train)

#testmerge = pd.merge(testdemo, testprevloans, on='customerid')
#test = pd.merge(testmerge, testpref, on='customerid')
test = parse_test_data(test)

In [966]:
train.to_csv('train_x.csv')

In [967]:
pd.options.display.max_rows = 100
pd.options.display.max_columns = 40
train.head()

,Unnamed: 0,customerid_x,birthdate,bank_account_type,Customer Long Address,Customer Short Address,longitude_gps,latitude_gps,bank_name_clients,bank_branch_clients,employment_status_clients,level_of_education_clients,customerid_y,systemloanid_x,loannumber_x,approveddate_x,creationdate_x,loanamount_x,totaldue_x,closeddate,referredby_x,firstduedate,firstrepaiddate,customerid,systemloanid_y,loannumber_y,approveddate_y,creationdate_y,loanamount_y,totaldue_y,termdays,referredby_y,good_bad_flag
0,0,567,230,2,189,198,3.319219,6.528604,6,45,6,4,2,301682320,2,405,405,10000.0,13000.0,367,183,110,367,6,301994762,12,3375,3376,30000.0,34500.0,30,518,1
1,1,741,1848,2,3052,5,3.325598,7.119403,12,45,1,4,2,301883808,9,2576,2576,10000.0,13000.0,2697,183,288,2666,77,301965204,2,660,659,15000.0,17250.0,30,518,1
2,2,1033,2097,2,383,317,5.746100,5.563174,4,45,6,4,2,301831714,8,1759,1759,20000.0,23800.0,2124,183,250,2140,143,301966580,7,822,822,20000.0,22250.0,15,518,1
3,3,2215,2865,2,67,241,3.362850,6.642485,6,45,1,4,65,301861541,5,2240,2240,10000.0,11500.0,2068,183,264,2083,207,301999343,3,3869,3871,10000.0,11500.0,15,518,1
4,4,1342,1229,2,1819,183,8.455332,11.971410,6,45,1,4,97,301941754,2,3852,3851,10000.0,11500.0,3975,183,312,3982,286,301962360,9,366,367,40000.0,44000.0,30,518,1

In [968]:
train.shape

(4346, 33)

In [969]:
del_col_names = ['Unnamed: 0', 'bank_branch_clients', 'referredby_x', 'referredby_y']
train = train.drop(labels = del_col_names, axis=1)

In [970]:
train.shape

(4346, 29)

In [971]:
train.isnull().sum()

customerid_x                  0
birthdate                     0
bank_account_type             0
Customer Long Address         0
Customer Short Address        0
longitude_gps                 0
latitude_gps                  0
bank_name_clients             0
employment_status_clients     0
level_of_education_clients    0
customerid_y                  0
systemloanid_x                0
loannumber_x                  0
approveddate_x                0
creationdate_x                0
loanamount_x                  0
totaldue_x                    0
closeddate                    0
firstduedate                  0
firstrepaiddate               0
customerid                    0
systemloanid_y                0
loannumber_y                  0
approveddate_y                0
creationdate_y                0
loanamount_y                  0
totaldue_y                    0
termdays                      0
good_bad_flag                 0
dtype: int64

In [972]:
train['employment_status_clients'].value_counts()

1    3146
6     648
3     348
4     142
5      57
2       4
0       1
Name: employment_status_clients, dtype: int64

In [973]:
train['level_of_education_clients'].value_counts()

4    3759
0     420
3      89
1      68
2      10
Name: level_of_education_clients, dtype: int64

In [974]:
train.groupby(['level_of_education_clients']).groups

{0: Int64Index([  18,   20,   21,   25,   39,   45,   47,   56,   71,   77,
             ...
             4228, 4229, 4283, 4295, 4301, 4303, 4304, 4306, 4321, 4341],
            dtype='int64', length=420),
 1: Int64Index([  42,   70,  100,  118,  130,  148,  155,  216,  233,  255,  292,
              368,  515,  537,  688,  723,  759,  807, 1007, 1018, 1028, 1053,
             1068, 1142, 1201, 1238, 1298, 1398, 1405, 1409, 1534, 1549, 1761,
             1808, 1890, 1922, 1999, 2009, 2042, 2148, 2166, 2188, 2208, 2354,
             2531, 2564, 2614, 2748, 2882, 3068, 3140, 3174, 3247, 3267, 3341,
             3353, 3393, 3395, 3468, 3519, 3599, 3741, 3938, 4006, 4026, 4170,
             4259, 4326],
            dtype='int64'),
 2: Int64Index([726, 998, 1252, 1853, 2451, 2545, 3416, 3575, 3839, 4344], dtype='int64'),
 3: Int64Index([  12,   49,  157,  170,  242,  272,  389,  393,  397,  482,  517,
              553,  579,  656,  672,  680,  697,  709,  714,  753,  884,  923,
             1115, 1129, 1248, 1262, 1281, 1329, 1357, 1438, 1581, 1600, 1612,
             1646, 1672, 1703, 1786, 1792, 1809, 1867, 1921, 1957, 1997, 2003,
             2024, 2086, 2106, 2137, 2154, 2214, 2218, 2277, 2355, 2373, 2422,
             2450, 2540, 2583, 2619, 2649, 2656, 2681, 2683, 2732, 2761, 2811,
             2818, 2837, 2921, 2960, 3260, 3303, 3306, 3378, 3517, 3542, 3774,
             3808, 3851, 3870, 3934, 3935, 3986, 3991, 3995, 4022, 4149, 4243,
             4307],
            dtype='int64'),
 4: Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
             ...
             4334, 4335, 4336, 4337, 4338, 4339, 4340, 4342, 4343, 4345],
            dtype='int64', length=3759)}

In [975]:
import sklearn
from sklearn import preprocessing,metrics 
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn import linear_model,svm
from sklearn.metrics import average_precision_score
from sklearn.metrics import precision_recall_curve

In [976]:
feature_cols = ['customerid', 'customerid_x', 'customerid_y', 'bank_account_type', 'bank_name_clients', 'Customer Short Address', 'systemloanid_x', 'loannumber_x', 'loanamount_x', 'totaldue_x', 'termdays', 'closeddate', 'firstduedate', 'firstrepaiddate', 'systemloanid_y', 'loannumber_y', 'loanamount_y', 'totaldue_y']
X = train[feature_cols].values
y = train.good_bad_flag.values

#features_test = test

In [977]:
y.min()

0

In [978]:
from sklearn.model_selection import GridSearchCV
def cross_validation_best_parameters(model, param_grid):
    grid = GridSearchCV(model, param_grid,cv=10, scoring='accuracy')
    X=train[feature_cols].values
    y=train.good_bad_flag.values
    grid.fit(X,y)
    mean_scores = [result.mean_validation_score for result in grid.grid_scores_]
    return mean_scores,grid.best_score_,grid.best_estimator_
logreg = linear_model.LogisticRegression(random_state=0)
c=[0.001, 0.01, 0.1, 1, 10, 100, 1000]
param_grid = dict(C=c)
mean_scores,Best_Accuracy, Best_classifier = cross_validation_best_parameters(logreg,param_grid)
print("Best accuracy is "+ str(Best_Accuracy))
print(Best_classifier)

Best accuracy is 0.7830188679245284
LogisticRegression(C=0.001, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=0, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

/home/olo/anaconda3/lib/python3.6/site-packages/sklearn/model_selection/_search.py:761: DeprecationWarning: The grid_scores_ attribute was deprecated in version 0.18 in favor of the more elaborate cv_results_ attribute. The grid_scores_ attribute will not be available from 0.20
  DeprecationWarning)

In [979]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=20)

In [980]:
clf_LR = linear_model.LogisticRegression(C=0.001)
clf_LR.fit(x_train,y_train)
#LR_Predict = clf_LR.predict_proba(x_test)[:,1]
LR_Predict_bin = clf_LR.predict(x_test)
LR_Accuracy = clf_LR.score(x_test,y_test)

print("Logistic regression accuracy is ",LR_Accuracy)

#test = LR_Predict_bin

#features_test.to_csv({LR_Accuracy}.csv,columns=["customerid","Good_Bad_Flag"],index = False)
#test

Logistic regression accuracy is  0.7868098159509203

In [981]:
feature_cols = ['customerid', 'customerid_x', 'customerid_y', 'bank_account_type', 'bank_name_clients', 'Customer Short Address', 'systemloanid_x', 'loannumber_x', 'loanamount_x', 'totaldue_x', 'termdays', 'closeddate', 'firstduedate', 'firstrepaiddate', 'systemloanid_y', 'loannumber_y', 'loanamount_y', 'totaldue_y']
x1 = test[feature_cols]

pred_test = clf_LR.predict(x1)
pred_test

array([1, 1, 1, ..., 1, 1, 1])

In [982]:
pred_test = pd.DataFrame(pred_test)
pred_test

pred_test.to_csv('pred.csv')

In [983]:
pred_test.min()

0    1
dtype: int64

In [984]:
#test = pd.DataFrame(test[:])

In [985]:
#LR_Predict_bin.min()

In [986]:
#pd.options.display.max_rows = 100
#test

In [987]:
#random_forest_regressor = RandomForestRegressor(n_estimators=10000,max_depth=1000,random_state=20,criterion="mse",max_features="auto")
#random_forest_regressor.fit(x,y.astype('str'))

#pred_train = random_forest_regressor.predict(x)

#accuracy_train = round(random_forest_regressor.score(x,y.astype('str')) * 100,2)
#print(f"Model Accuracy: {accuracy_train}")

#pred_test = random_forest_regressor.predict(features_test)